.intro {

  h1 {
    font-size: 20px;
  }

  h2 {
    margin-top: 20px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
    line-height: 1.4;
  }

  .introduce {
    margin-top: 100px;

  }

  .philosophy {
    margin-top: 50px;
  }

  .way {
    margin-top: 60px;
  }
}
