.Search {
  margin: 0 auto;
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
  border-radius: 25px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.05);

  input {
    border-radius: inherit;
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    outline-style: none;
    padding: 0 25px;
  }
}
