@font-face {
  font-family: SD Light;
  src: url(../public/static/Font/AppleSDGothicNeoL.woff2) format('woff2');
  font-style: normal;
}

@font-face {
  font-family: SD M;
  src: url(../public/static/Font/AppleSDGothicNeoM.woff2) format('woff2');
  font-style: normal;
}

@font-face {
  font-family: SD B;
  src: url(../public/static/Font/AppleSDGothicNeoB.woff2) format('woff2');
  font-style: normal;
}

@font-face {
  font-family: SD NeoBold;
  src: url(../public/static/Font/AppleSDGothicNeoEB.woff2) format('woff2');
  font-style: normal;
}

@font-face {
  font-family: SD Bolder;
  src: url(../public/static/Font/AppleSDGothicNeoH.woff2) format('woff2');
  font-style: normal;
}


@font-face {
  font-family: P Light;
  src: url(../public/static/Font/AnyConv.com__Poppins-Light.woff2) format('woff2');
  font-style: normal;
}

@font-face {
  font-family: P M;
  src: url(../public/static/Font/AnyConv.com__Poppins-Regular.woff2) format('woff2');
  font-style: normal;
}

@font-face {
  font-family: P B;
  src: url(../public/static/Font/AnyConv.com__Poppins-Medium.woff2) format('woff2');
  font-style: normal;
}

@font-face {
  font-family: P NeoBold;
  src: url(../public/static/Font/AnyConv.com__Poppins-SemiBold.woff2) format('woff2');
  font-style: normal;
}

@font-face {
  font-family: P Bolder;
  src: url(../public/static/Font/AnyConv.com__Poppins-Bold.woff2) format('woff2');
  font-style: normal;
}
