@font-face {
  font-family: Sandol l;
  src: url(../public/static/Font/AppleSDGothicNeoL.woff2) format('woff2');
  font-style: normal;
}

@font-face {
  font-family: Sandol m;
  src: url(../public/static/Font/AppleSDGothicNeoM.woff2) format('woff2');
  font-style: normal;
}

@font-face {
  font-family: Sandol b;
  src: url(../public/static/Font/AppleSDGothicNeoB.woff2) format('woff2');
  font-style: normal;
}

@font-face {
  font-family: Sandol bolder;
  src: url(../public/static/Font/AppleSDGothicNeoEB.woff2) format('woff2');
  font-style: normal;
}

@font-face {
  font-family: SD Bolder;
  src: url(../public/static/Font/AppleSDGothicNeoH.woff2) format('woff2');
  font-style: normal;
}


@font-face {
  font-family: poppin l;
  src: url(../public/static/Font/AnyConv.com__Poppins-Light.woff2) format('woff2');
  font-style: normal;
}

@font-face {
  font-family: poppin m;
  src: url(../public/static/Font/AnyConv.com__Poppins-Regular.woff2) format('woff2');
  font-style: normal;
}

@font-face {
  font-family: poppin b;
  src: url(../public/static/Font/AnyConv.com__Poppins-Medium.woff2) format('woff2');
  font-style: normal;
}

@font-face {
  font-family: poppin bolder;
  src: url(../public/static/Font/AnyConv.com__Poppins-SemiBold.woff2) format('woff2');
  font-style: normal;
}

@font-face {
  font-family: P Bolder;
  src: url(../public/static/Font/AnyConv.com__Poppins-Bold.woff2) format('woff2');
  font-style: normal;
}
