.font {
  display: table;

  span {

    display: table-cell;
    vertical-align: bottom;
  }

  //.l {
  //  font-family: "Sandol l";
  //}
  //
  //.m {
  //  font-family: "Sandol m";
  //}
  //
  //.b {
  //  font-family: "Sandol b"
  //}
  //
  //.bolder {
  //  font-family: "Sandol bolder"
  //}
}
